/** @format */

body {
  background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  color: #118a7e;
  margin-bottom: 30px;
}

img {
  max-width: 100%;
}

p {
  font-size: 15px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

button {
  display: block;
  margin: 20px auto;
  border: 2px solid white;
  background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
  font-size: 24px;
  text-decoration: none;
  border-radius: 6px;
  padding: 10px 15px;
  transition: all 150ms ease-in-out;
}

button:hover {
  background: #aeee93;
  cursor: pointer;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

span {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 5px 5px 15px rgba(53, 204, 153, 0.4);
  color: #35cc99;
}

footer {
  text-align: center;
  text-decoration: none;
  margin: 10px 0;
  color: black;
  font-size: 20px;
}

.theme-button {
  font-size: 20px;
  background: #076f7a;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 50px;
  border: none;
  padding: 5px 8px;
  margin: 20px auto;
}

.theme-button:hover {
  color: black;
}

body.dark .theme-button {
  background: #85cd92;
}

.book-annotation-pic {
  border-radius: 15px;
  translate: 20px;
  transition: transform ease;
}

.book-annotation-pic:hover {
  transform: rotateY(180deg) rotateZ(180deg);
}

.gallery-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 15px 0;
}

.gallery div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery img {
  width: 100%;
  border-radius: 10px;
  transition: transform 150ms ease-in-out;
}

.gallery img:hover {
  transform: scale(1.1);
}

.gallery .column1 img,
.gallery .column3 img {
  height: 100%;
  object-fit: cover;
}

.gallery .column2 img {
  height: 50%;
  object-fit: cover;
}

.dark {
  background: linear-gradient(
    109.6deg,
    rgb(0, 0, 0) 11.2%,
    rgb(11, 132, 145) 91.1%
  );
  color: white;
}

.dark .container {
  background: #385170;
}

.dark a {
  color: #05302b;
}
